<!DOCTYPE html>
<html>
<head>
	<title>Heroku Pinger</title>
	<link rel="stylesheet" href="/stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
	<link rel="shortcut icon" href="/logo"/>
	<link rel="manifest" href="/manifest" />

</head>
<body>
	<h1 class="title">Heroku Pinger</h1>
	<form class="app" method="POST" action="/app/new">
		<input name="url" class="url" placeholder="https://yourapp.herokuapp.com" />
		<input class="submit" type="submit"/>
	</form>
	<script src="/clientjs"></script>
</body>
</html>