<!DOCTYPE html>
<html>
<head>
	<title>Heroku Pinger</title>
	<link rel="stylesheet" href="/stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
	<link rel="shortcut icon" href="/logo"/>
	<link rel="manifest" href="/manifest" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
</head>
<body>
	<h1 class="title">Heroku Pinger</h1>
	<form class="app" method="POST" action="/app/new">
		<input name="url" class="url" placeholder="https://yourapp.herokuapp.com" />
		<input class="submit" type="submit"/>
	</form>

	<footer>
		<p class="copyright">Copyright &copy; Mohammad Hunan</p>
		<div class="icons">
			<a href="/api">API</a>
			<a href="https://github.com/Mohammadhunan97/herokupinger">Source Code</a>
			<a href="https://mohammadhunan.herokuapp.com">Portfolio</a>
			<a href="https://github.com/Mohammadhunan97">Github</a>
			<a href="https://www.linkedin.com/in/makermo/">LinkedIn</a>
		</div>
	</footer>
	<script src="/clientjs"></script>
</body>
</html>