body{
	color: white;
	margin: 0px;
	padding: 0px;
}
.title{
	font-family: 'Source Code Pro', monospace;
	text-align: center;
    margin-top: 20vh;
    font-size: 5.4em;
    color: white;
}
.url{
	display: block;
	border: 5px solid white;
	border-left: 0px;
    border-right: 0px;
	resize: none;
	width: 70vw;
	height: 12vh;
	margin-left: 15vw;
	color: white;
	background-color: transparent;
	font-size: 3.1em;
	overflow: hidden;
}
.submit{
	background-color: #e74c3c;
	color: white;
	font-size: 2.1em;
	border: 2px solid #e74c3c;
	border-radius: 5px;
	margin-top: 2vh;
	margin-left: 45vw;
}
.copyright{
	text-align: center;
}
a{
	display: inline-block;
	color: white;
}
.icons{
	margin-left:33vw;
}
@media screen and (min-width: 1020px) {
  .icons{
  	margin-left: 38vw;
  }
}
@media screen and (max-width: 725px) {
  .submit{
  	margin-left: 34vw;
  }
}
@media screen and (max-width: 475px) {
  .submit{
  	margin-left: 27vw;
  }
  .icons{
  	margin-left: 20vw;
  }
}