body{
	font-family: 'Source Code Pro', monospace;
}
.title{
	text-align: center;
    margin-top: 20vh;
    font-size: 5.4em;
    color: white;
}
.url{
	display: block;
	border: 5px solid white;
	border-left: 0px;
    border-right: 0px;
	resize: none;
	width: 70vw;
	height: 12vh;
	margin-left: 10vw;
	color: white;
	background-color: transparent;
	font-size: 3.1em;
	overflow: hidden;
}
.submit{
	background-color: #e74c3c;
	color: white;
	font-size: 2.1em;
	border: 2px solid #e74c3c;
	border-radius: 5px;
	margin-top: 2vh;
	margin-left: 45vw;
}